<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Trip Mate - Edit Plan</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">

    <script src="/public/js/theme.js"></script>   

    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/public/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/public/vendor/choices/css/choices.min.css">
    <link rel="stylesheet" type="text/css" href="/public/vendor/flatpickr/css/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="/public/vendor/stepper/css/bs-stepper.min.css">
    <link rel="stylesheet" type="text/css" href="/public/vendor/quill/css/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="/public/vendor/dropzone/css/dropzone.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <!-- Custom CSS -->
    <link href="/public/css/tripMate.css" rel="stylesheet" media="screen">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- CardStyle -->
    <style>
        .collapse-panel {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
        }

        .collapsed .collapse-panel {
            max-height: 1000px;
        }

        .card-body {
            background-color: transparent;
        }

        .collapsed .card-body {
            transition: background-color 0.3s ease;
            background-color: white;
        }

        .step-trigger {
            --bs-primary : #a6b8c4;
        }
        
        .stepper-outline .bs-stepper-circle{
            color : #7a6deb;
        }
    </style>
</head>

<body>
    <!-- Header START -->
    <header class="navbar-light header-sticky">
        <!-- Logo Nav START -->
        <nav class="navbar navbar-expand-xl">
            <div class="container" style="position: relative;">
                <!-- Logo -->
                <a class="navbar-brand" href="/">
                    <img class="light-mode-item navbar-brand-item" src="/public/images/logo.png" alt="logo">
                    <img class="dark-mode-item navbar-brand-item" src="/public/images/logo2.png" alt="logo">
                </a>

                <!-- Responsive navbar toggler -->
                <button class="navbar-toggler ms-auto ms-sm-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-animation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="d-none d-sm-inline-block small">Menu</span>
                </button>

                <!-- Main navbar START -->
                <div class="navbar-collapse collapse" id="navbarCollapse" style="position: absolute; right: 100px;">
                    <ul class="navbar-nav navbar-nav-scroll me-auto">
                        <!-- Nav item Listing -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Travel</a>
                            <!-- Submenu -->
                            <ul class="dropdown-menu" aria-labelledby="listingMenu">
                                <li><a class="dropdown-item" href="https://www.agoda.com/flights">항공편 예약</a></li>
                                <li><a class="dropdown-item" href="https://www.agoda.com">숙소 예약</a></li>
                            </ul>
                        </li>

                        <!-- Nav item Pages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Info</a>
                            <ul class="dropdown-menu" aria-labelledby="pagesMenu">
                                <li> <a class="dropdown-item" href="#">개인 정보 정책</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li> <a class="dropdown-item" href="about.html">개발자 정보</a></li>
                                <li> <a class="dropdown-item" href="contact.html">오류 제보</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Main navbar END -->

                <!-- Profile and Notification START -->
                <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                    <!-- Profile dropdown START -->
                    <li class="nav-item ms-3 dropdown">
                        <!-- Avatar -->
                        <a class="nav-link p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside"
                            data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                            Accounts
                        </a>

                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
                            aria-labelledby="profileDropdown">
                            <!-- Links -->
                            <li><a class="dropdown-item" href="/starting">여행 일정 조회</a></li>
                            <li><a class="dropdown-item" href="#">맞춤 정보</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
								<a class="dropdown-item" href="#">
									<i class="bi bi-bookmark-check fa-fw me-2"></i>Bookmark</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="bi bi-gear fa-fw me-2"></i>Settings</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="bi bi-info-circle fa-fw me-2"></i>Help Center</a>
							</li>
							<li>
								<a class="dropdown-item bg-danger-soft-hover" href="/logout">
									<i class="bi bi-power fa-fw me-2"></i>Sign Out</a>
							</li>
							<li><hr class="dropdown-divider"></li>

                            <!-- Dark mode options START -->
                            <li>
                                <div
                                    class="nav-pills-primary-soft theme-icon-active d-flex justify-content-between align-items-center p-2 pb-0">
                                    <span>Mode:</span>
                                    <button type="button" class="btn btn-link nav-link text-primary-hover mb-0 p-0"
                                        data-bs-theme-value="light" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Light">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-sun fa-fw mode-switch" viewBox="0 0 16 16">
                                            <path
                                                d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                                            <use href="#"></use>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-link nav-link text-primary-hover mb-0 p-0"
                                        data-bs-theme-value="dark" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-moon-stars fa-fw mode-switch"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
                                            <path
                                                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                                            <use href="#"></use>
                                        </svg>
                                    </button>
                                    <button type="button"
                                        class="btn btn-link nav-link text-primary-hover mb-0 p-0 active"
                                        data-bs-theme-value="auto" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Auto">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-circle-half fa-fw mode-switch"
                                            viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                                            <use href="#"></use>
                                        </svg>
                                    </button>
                                </div>
                            </li>
                            <!-- Dark mode options END-->
                        </ul>
                    </li>
                    <!-- Profile dropdown END -->
                </ul>
                <!-- Profile and Notification END -->
            </div>
        </nav>
        <!-- Logo Nav END -->
    </header>
    <!-- Header END -->
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <!-- ======================= Page Banner START -->
        <section class="pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="fs-2 mb-2">자유롭게 계획을 수정해보세요!</h1>
                        <p class="mb-0">목적지, 일정 변경부터 여행지까지, 언제든지 수정이 가능합니다.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======================= Page Banner END -->

        <!-- ======================= Steps START -->
        <section>
            <div class="container">
                <div id="stepper" class="bs-stepper stepper-outline">
                    <!-- Step Buttons START -->
                    <div class="bs-stepper-header" role="tablist">
                        <!-- Step 1 -->
                        <div class="step" data-target="#step-1">
                            <div class="text-center">
                                <button type="button" class="btn btn-link step-trigger mb-0" role="tab"
                                    id="steppertrigger1" aria-controls="step-1">
                                    <span class="bs-stepper-circle">1</span>
                                </button>
                                <h6 class="bs-stepper-label d-none d-md-block">Basic Information</h6>
                            </div>
                        </div>
                        <div class="line"></div>

                        <!-- Step 2 -->
                        <div class="step" data-target="#step-2">
                            <div class="text-center">
                                <button type="button" class="btn btn-link step-trigger mb-0" role="tab"
                                    id="steppertrigger2" aria-controls="step-2">
                                    <span class="bs-stepper-circle">2</span>
                                </button>
                                <h6 class="bs-stepper-label d-none d-md-block">Location Information</h6>
                            </div>
                        </div>
                        <div class="line"></div>

                        <!-- Step 3 -->
                        <div class="step" data-target="#step-3">
                            <div class="text-center">
                                <button type="button" class="btn btn-link step-trigger mb-0" role="tab"
                                    id="steppertrigger3" aria-controls="step-3">
                                    <span class="bs-stepper-circle">3</span>
                                </button>
                                <h6 class="bs-stepper-label d-none d-md-block">More information</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Step Buttons END -->

                    <!-- Step content START -->
                    <div class="bs-stepper-content p-0 pt-4 pt-md-5">
                        <div class="row g-4">
                            <!-- Main content START -->
                            <div class="col-12">
                                <form onsubmit="return false">
                                    <!-- Step 1 content START -->
                                    <div id="step-1" role="tabpanel" class="content fade"
                                        aria-labelledby="steppertrigger1">
                                        <div class="vstack gap-4">
                                            <!-- Basic Information START -->
                                            <div class="card shadow">
                                                <!-- Card header -->
                                                <div class="card-header border-bottom">
                                                    <h5 class="mb-0">여행의 기본 정보</h5>
                                                </div>

                                                <!-- Card body -->
                                                <div class="card-body">
                                                    <div class="row g-4">
                                                        <form
                                                            class="bg-mode shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4 mb-4">
                                                            <div class="row g-4 align-items-center">
                                                                <!-- Plan Name -->
                                                                <div class="col-12">
                                                                    <label class="form-label">여행 계획명</label>
                                                                    <input class="form-control" type="text" id="plan_name"
                                                                        placeholder="여행의 이름을 지어보세요">
                                                                </div>

                                                                <!-- Location -->
                                                                <div class="col-lg-4">
                                                                    <label class="form-label">어디로 떠나시나요?</label>
                                                                    <div
                                                                        class="form-control-border form-control-transparent form-fs-md d-flex">
                                                                        <!-- Icon -->
                                                                        <i class="bi bi-geo-alt fs-3 me-2 mt-2"></i>
                                                                        <!-- Location input -->
                                                                        <div class="w-100">
                                                                            <label class="form-label">Location</label>
                                                                            <div class="dropdown guest-selector me-2">
                                                                                <input type="text"
                                                                                    placeholder="Location" id="Location"
                                                                                    class="form-guest-selector form-control selection-result">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Date -->
                                                                <div class="col-lg-4">
                                                                    <label class="form-label">언제 가시나요?</label>
                                                                    <div class="d-flex">
                                                                        <!-- Icon -->
                                                                        <i class="bi bi-calendar fs-3 me-2 mt-2"></i>
                                                                        <!-- Date input -->
                                                                        <div
                                                                            class="form-control-border form-control-transparent form-fs-md">
                                                                            <label class="form-label">Date</label>
                                                                            <input id="plan_date" type="text"
                                                                                class="form-control flatpickr"
                                                                                data-mode="range"
                                                                                data-date-format="d M Y"
                                                                                placeholder="Select date">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Travelers -->
                                                                <div class="col-lg-4">
                                                                    <label class="form-label">누구와 함께 하나요?</label>
                                                                    <div
                                                                        class="form-control-border form-control-transparent form-fs-md d-flex">
                                                                        <!-- Icon -->
                                                                        <i class="bi bi-person fs-3 me-2 mt-2"></i>
                                                                        <!-- Travelers Input -->
                                                                        <div class="w-100">
                                                                            <label class="form-label">Travelers</label>
                                                                            <div class="dropdown guest-selector me-2">
                                                                                <input type="text"
                                                                                    placeholder="Personnel"
                                                                                    id="plan_people"
                                                                                    class="form-guest-selector form-control selection-result">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Basic Information END -->

                                            <div class="d-flex justify-content-between" style="margin-top: 20px;">
                                                <button id="go_plan_list" class="btn btn-secondary prev-btn mb-0">Plan List</button>
                                                <button class="btn btn-primary next-btn mb-0">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Step 1 content END -->

                                    <!-- Step 2 content START -->
                                    <div id="step-2" role="tabpanel" class="content fade"
                                        aria-labelledby="steppertrigger2" style="padding-bottom: 20px;">
                                        <!-- Travel Plan List -->
                                        <div class="d-flex align-items-start gap-2">
                                            <!-- Detailed address -->
                                            <div class="col-8">
                                                <!-- Connect the google maps API-->
                                                <div id="map_area" style="height: 660px;"></div>
                                            </div>

                                            <!-- Panel Container Start-->
                                            <div class="col-4">
                                                <!-- Nav Tab -->
                                                <div>
                                                    <ul class="nav nav-tabs">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab"
                                                                href="#sortable" id="card_tab" onclick="travelArrangements();">Travel Arrangement</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#direction_view"
                                                                id="direction_tab" onclick="directionService('driving');">Directions Service</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <!-- Travel Tab -->
                                                <div id="main-view" class="tab-content"
                                                    style="padding:20px; height: 600px; overflow: auto;">
                                                    <!-- Card START -->
                                                    <ul id="sortable" class="tab-pane fade show active">
                                                        <li class="ui-state-default">
                                                            <div class="card shadow">
                                                                <!-- Card  Header START -->
                                                                <div class="card">
                                                                    <div class="card-header border-bottom"
                                                                        id="heading1" data-seq="1">
                                                                        <div style="display: inline-block;">
                                                                            <h5 class="mb-0 panel-title">
                                                                                <a id="a1" role="button"
                                                                                    data-toggle="collapse"
                                                                                    data-parent="#accordion"
                                                                                    href="#collapse1"
                                                                                    aria-expanded="true"
                                                                                    aria-controls="collapseOne"
                                                                                    onclick="toggleCollapse(event, 1)">
                                                                                    #</a>
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Card body START -->
                                                                    <div class="card-body">
                                                                        <div class="row g-4">
                                                                            <div id="collapse1" role="tabpanel"
                                                                                aria-labelledby="heading1"
                                                                                class="panel-collapse collapse"
                                                                                style="background-color:rgba(0, 0, 0, 0);">
                                                                                <div class="panel-body">
                                                                                    <form>
                                                                                        <div style="padding-bottom: 15px;">
                                                                                            <label for="loc1">Location :</label>
                                                                                            <input type="search"
                                                                                                class="form-control"
                                                                                                id="loc1"
                                                                                                placeholder="여행지를 입력하세요"
                                                                                                onchange="changeLocation(1)">
                                                                                        </div>
                                                                                        <div style="padding-bottom: 15px;">
                                                                                            <label for="st1">Start Day :</label>
                                                                                            <input type="text"
                                                                                                class="form-control flatpickr"
                                                                                                data-date-format="d M Y"
                                                                                                placeholder="시작 날짜를 선택하세요"
                                                                                                id="st1">
                                                                                        </div>
                                                                                        <div style="padding-bottom: 15px;">
                                                                                            <label for="en1">End Day :</label>
                                                                                            <input type="text"
                                                                                                class="form-control flatpickr"
                                                                                                data-date-format="d M Y"
                                                                                                placeholder="종료 날짜를 선택하세요"
                                                                                                id="en1">
                                                                                        </div>
                                                                                        <div
                                                                                            style="padding-bottom: 8px;">
                                                                                            <label for="des1">Description :</label>
                                                                                            <textarea type="text"
                                                                                                class="form-control"
                                                                                                id="des1"
                                                                                                placeholder="추가 정보를 입력하세요"></textarea>
                                                                                        </div>
                                                                                        <div class="btn btn-primary mb-5"
                                                                                            role="button"
                                                                                            style="height: 45px; width: 45px; align-items: center; margin-top: 20px; margin-right: 10px;"
                                                                                            onclick="addPanel()">+</div>
                                                                                        <div class="btn btn-primary mb-5"
                                                                                            role="button"
                                                                                            style="height: 45px; width: 45px; align-items: center; margin-top: 20px;"
                                                                                            onclick="removePanel(1)">-
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                    <!-- Direction Tab -->
                                                    <div id="direction_view" class="tab-pane fade">
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <button
                                                                class="btn btn-dark rounded mb-0 bi bi-car-front-fill"
                                                                style="margin-right: 10px; padding: 5px;"
                                                                onclick="directionService('driving')">Driving</button>
                                                            <button class="btn btn-dark rounded mb-0 bi bi-bicycle"
                                                                style="margin-right: 10px; padding: 5px;"
                                                                onclick="directionService('bicycling')">Bicycling</button>
                                                            <button class="btn btn-dark rounded mb-0 bi bi-bus-front"
                                                                style="margin-right: 10px; padding: 5px;"
                                                                onclick="directionService('transit')">Transit</button>
                                                            <button
                                                                class="btn btn-dark rounded mb-0 bi bi-universal-access"
                                                                style="padding: 5px;"
                                                                onclick="directionService('walking')">Walking</button>
                                                        </div>

                                                        <!-- Direction Panel Start-->
                                                        <div id="direction_card" style="margin-top: 20px;">
                                                            <!-- Card START -->
                                                            <ul id="sortable" class="tab-pane fade show active">
                                                                <li>
                                                                    <div class="card shadow">
                                                                        <!-- Card  Header START -->
                                                                        <div class="card" id="dsPanel">
                                                                            <div class="card-header border-bottom">
                                                                                <div style="display: inline-block;">
                                                                                    <h5 class="mb-0 panel-title">
                                                                                        <a id="dsA" class="capitalize"
                                                                                            role="button"
                                                                                            data-toggle="collapse"
                                                                                            data-parent="#accordion"
                                                                                            href="#dsCollapse"
                                                                                            aria-expanded="true"
                                                                                            aria-controls="collapseOne">#</a>
                                                                                    </h5>
                                                                                </div>
                                                                            </div>
                                                                            <!-- Card body START -->
                                                                            <div class="card-body">
                                                                                <div class="row g-4">
                                                                                    <div id="dsPanel" role="tabpanel"
                                                                                        aria-labelledby="heading1"
                                                                                        class="panel-collapse show"
                                                                                        style="background-color:rgba(0, 0, 0, 0);">
                                                                                        <div id="dsPanelBody"
                                                                                            class="panel-body">
                                                                                            <!-- content -->
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- Card body END -->
                                                </div>
                                            </div>
                                            <!-- Panel Container END -->
                                        </div>

                                        <div class="d-flex justify-content-between" style="margin-top: 20px;">
                                            <button class="btn btn-secondary prev-btn mb-0">Previous</button>
                                            <button class="btn btn-primary next-btn mb-0" id="go_step3">Next</button>
                                        </div>
                                    </div>
                                    <!-- Step 2 content END -->

                                    <!-- Step 3 content START -->
                                    <div id="step-3" role="tabpanel" class="content fade"
                                        aria-labelledby="steppertrigger3">
                                        <div class="vstack gap-4">
                                            <!-- Title -->
                                            <h4 class="mb-0" id="plan_name_check"></h4>

                                            <!-- Check Basic Info START -->
                                            <div class="card shadow">
                                                <!-- Card header -->
                                                <div class="card-header border-bottom">
                                                    <h5 class="mb-0">기본 정보</h5>
                                                </div>

                                                <!-- Card body START -->
                                                <div class="card-body">
                                                    <div class="row g-4">
                                                        <!-- Location -->
                                                        <div class="col-lg-4">
                                                            <div
                                                                class="form-control-border form-control-transparent form-fs-md d-flex">
                                                                <div class="w-100">
                                                                    <label class="form-label">Location</label>
                                                                    <div class="dropdown guest-selector me-2">
                                                                        <input type="text" placeholder="Location"
                                                                            id="Location_check"
                                                                            class="form-guest-selector form-control"
                                                                            readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Date -->
                                                        <div class="col-lg-4">
                                                            <div class="d-flex">
                                                                <div
                                                                    class="form-control-border form-control-transparent form-fs-md">
                                                                    <label class="form-label">Date</label>
                                                                    <input type="text" placeholder="Date" id="plan_date_check"
                                                                        class="form-guest-selector form-control"
                                                                        readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Travelers -->
                                                        <div class="col-lg-4">
                                                            <div
                                                                class="form-control-border form-control-transparent form-fs-md d-flex">
                                                                <div class="w-100">
                                                                    <label class="form-label">Travelers</label>
                                                                    <div class="dropdown guest-selector me-2">
                                                                        <input type="text" placeholder="Personnel"
                                                                            id="plan_people_check"
                                                                            class="form-guest-selector form-control"
                                                                            readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Card body END -->
                                            </div>
                                            <!-- Check Basic Info END -->

                                            <!-- Cheak Route START -->
                                            <div class="card shadow" style="height:700px;" id="capture">
                                                <!-- Card header -->
                                                <div class="card-header border-bottom">
                                                    <h5 class="mb-0">일정</h5>
                                                </div>
                                                <div style="overflow-y:auto;" id="step3_card">
                                                    <!-- Card body START -->
                                                    <div class="card-body">
                                                        <div>
                                                            <h5 class="card-title mb-1">Place Name</h5>
                                                            <h6>Time Info</h6>
                                                            <span>Lorem ipsum dolor sit amet</span>
                                                        </div>
                                                    </div>
                                                    <!-- Card body END -->
                                                    <div class="card-body">
                                                        <div>
                                                            <h5 class="card-title mb-1">Place Name</h5>
                                                            <h6>Time Info</h6>
                                                            <span>Lorem ipsum dolor sit amet</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Cheak Route END -->

                                            <!-- Step 3 button -->
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-secondary prev-btn mb-0">Previous</button>
                                                <a class="btn btn-success mb-0" id="edit_plan">Edit Plan</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Step 3 content END -->
                                </form>
                            </div>
                            <!-- Main content END-->
                        </div>
                    </div>
                    <!-- Step content END -->
                </div>
            </div>
        </section>
        <!-- ======================= Steps END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- ======================= Footer START -->
    <footer class="bg-dark p-3">
        <div class="container">
            <div class="row align-items-center">
                <!-- Logo Widget -->
                <div class="col-md-4">
                    <div class="text-center text-md-start mb-3 mb-md-0">
                        <a href="/"> <img class="h-30px" src="/public/images/logo2.png" alt="logo"> </a>
                    </div>
                </div>
                <!-- Copyright -->
                <div class="col-md-4">
                    <div class="text-muted text-primary-hover">Copyrights ©2023 MJC Isass
                        <a href="https://github.com/ssongK/TripMate" class="text-muted">Phoneix Team</a>.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ======================= Footer END -->

    <!-- Back to top -->
    <div class="back-top"></div>

    <!-- Bootstrap JS -->
    <script src="/public/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="/public/vendor/choices/js/choices.min.js"></script>
    <script src="/public/vendor/flatpickr/js/flatpickr.min.js"></script>
    <script src="/public/vendor/stepper/js/bs-stepper.min.js"></script>
    <script src="/public/vendor/quill/js/quill.min.js"></script>
    <script src="/public/vendor/dropzone/js/dropzone.js"></script>
    <script src="/public/vendor/flatpickr/js/flatpickr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.0/html2canvas.min.js"></script>

    <!-- ThemeFunctions -->
    <script src="/public/js/functions.js"></script>

    <!-- Panel Add & Remove-->
    <script src="/public/js/panel.js"></script>
    
    <!-- google maps api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLHVS2-_7xljRiVIbtywoqAHxl5YIPvaQ&libraries=places"></script>
    <script src="/public/js/plan_edit.js"></script>
    <script src="/public/js/sortable.js"></script>
    
    <script>
        //image download
        function saveAsImage() {
            var element = document.getElementById('capture');
            var options = {
                scrollY: -window.scrollY,
                backgroundColor: 'white',
                scale : 0.5
            };

            html2canvas(element, options).then(function (canvas) {
                var link = document.createElement('a');
                link.href = canvas.toDataURL();
                link.download = 'plan_image.png';
                link.click();
            });
        }
    </script>
</body>

</html>
