.collapse-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.collapsed .collapse-panel {
    max-height: 1000px;
}

.card-body {
    background-color: transparent;
}

.collapsed .card-body {
    transition: background-color 0.3s ease;
    background-color: white;
}